@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&family=Inconsolata&display=swap');

.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

h1 {
    font-family: 'Dancing Script';
    font-size: 4em;
    font-weight: bold;
    text-align: center;
}

.quote-container {
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.quote {
    display: flex;
    margin: 0 auto 2rem auto;
    font-family: 'Inconsolata', monospace;
}

blockquote {
    width: 48vw;
}

.quote-section {
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    font-size: 1.3em;
    text-align: center;
    line-height: 1.5em;
    background-color: #f8efe7;
    transition: 1s ease;
}

.author {
    font-family: 'Dancing Script';
    font-size: 1.0em;
    color: #cdbaa5;
}

.quotes-char {
    font-size: 2.5em;
    color: rgb(205, 186, 165, 0.5);
}

.quotes-char:last-child {
    align-self: flex-end;
}

.divider {
    width: 27vh;
    height: 1px;
    margin: 0.5rem auto;
    background-color: rgb(229, 219, 208);
}

button {
    margin-bottom: 1.5rem;
    padding: 0.5rem 1rem;
    font-family: 'Dancing Script';
    font-size: 2.0em;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color: var(--accent);
    cursor: pointer;
    transition: 1s ease;
}

button:hover {
    background-color: #a8e8c8;
}

.underline-title {
    background-image: linear-gradient(120deg, #e9d5c0 0%, #ebe3c9 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
}

.underline {
    background-image: linear-gradient(120deg, #a8e8c8 0%, #b7e9d0 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
    transition: 0.5s ease-in;
}

.underline:hover {
    background-size: 100% 88%;
}

::selection {
    background: var(--accent);
}

@media only screen and (max-width: 920px) {
    .app {
        justify-content: flex-start;
        padding: 2rem 0;
    }

    blockquote {
        width: 85vw;
        flex: 1;
    }

    h1 {
        font-size: 3em;
        margin-bottom: 2rem;
    }
}

@media only screen and (max-width: 580px) {
    blockquote {
        width: 92vw;
    }
}