@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&family=Inconsolata&display=swap');

.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

h1 {
    font-family: 'Dancing Script';
    font-size: 4em;
    font-weight: bold;
    text-align: center;
}

.quote-container {
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.quote {
    display: flex;
    margin: 0 auto 2rem auto;
    font-family: 'Inconsolata', monospace;
}

blockquote {
    width: 45vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    font-size: 1.3em;
    text-align: center;
    line-height: 1.5em;
}

.author {
    font-family: 'Dancing Script';
    font-size: 1.3em;
    color: rgb(205, 186, 165);
}

.quotes-char {
    font-size: 2.5em;
    color: rgb(205, 186, 165, 0.5);
}

.quotes-char:last-child {
    align-self: flex-end;
}

.divider {
    width: 27vh;
    height: 1px;
    margin: 0.5rem auto;
    background-color: rgb(229, 219, 208);
}

button {
    margin-top: 2.5rem;
    padding: 0.3rem 1rem;
    font-family: 'Dancing Script';
    font-size: 2.0em;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    background-color: var(--accent);
    cursor: pointer;
    transition: 1s ease;
}

button:hover {
    background-color: rgb(205, 186, 165, 0.8);

}


@media only screen and (max-width: 920px) {
    .app {
        justify-content: flex-start;
        padding: 2rem 0;
    }

    blockquote {
        width: 85vw;
        flex: 1;
    }

    h1 {
        font-size: 3em;
        margin-bottom: 2rem;
    }
}

@media only screen and (max-width: 580px) {
    blockquote {
        width: 92vw;
    }
}