* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #F8F1EA;
  --dark: #171717;
  --lighten-dark: #454444;
  --accent: #d0e6de;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--lighten-dark);
  background-color: var(--bg-color);
  background-image: url(../assets/bg.PNG);
}